body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    height: 60vh;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background: #ff6f61;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #ff4b3c;
  }
  
.recherche{
display:flex;
justify-content: center;
align-items: center;
}
.btnrech{
  width: 13rem;
  height: 3rem;
}
  
  